<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="local-location">./resources/logs</Property>
     	<!-- Specify Application Name  -->
     	<Property name="appname">wizzair</Property>
        <!-- Specify Log File Archive Size Here -->
        <Property name="size">10 KB</Property>    
 	</Properties>	
    <Appenders>
        <Console name="Console">
            <PatternLayout>
                <Pattern>%d %p %c{2} [%t] %l %m%n</Pattern>
            </PatternLayout>
        </Console>
        <File name="File" fileName=".\resources\logs\app.log">
        	<PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    	</File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>